// body {
//   background-color: #0f1117;
//   color: #d6d6d6;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// a {
//   color: #fff5d0 !important;
// }

$darkColor: #fff5d0;

.archive__item a {
  text-decoration: none;
  font-family: $headings-font-family;
}

.blogapp .initial-content,
.search-content {
  padding-top: 0 !important; // To start right at the top
  padding-bottom: 4rem !important; // To let some space on for the menu footer app bar
}

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark a {
  color: $darkColor !important;
}

body.theme-dark,
.theme-dark .masthead {
  background-color: #0f1117;
  color: #d6d6d6;
}

.theme-dark #mainNav {
  background-color: #21252a !important;
  color: $darkColor;
}

.theme-dark .bg-light {
  background-color: #433664 !important;
  color: $darkColor;
}

.theme-dark #mainNav .navbar-toggler {
  color: $darkColor;
  border-color: $darkColor;
}
