// body {
//   background-color: #0f1117;
//   color: #d6d6d6;
// }

h1,
h2,
h3 {
  padding-top: 1rem !important;
}

.archive__item a {
  text-decoration: none;
  font-family: $headings-font-family;
}

// .archive__item-teaser {
//   max-height: 200px; // Limit the height on the reel of post
// }

@media (min-width: 48em) {
  .archive__item-teaser img {
    transform: translateY(-25%) !important; // Better ajustment for square pictures
  }
}

.achive > .page__title {
  margin-bottom: 1.5rem !important;
}

.masthead .masthead-device-mockup .device-wrapper {
  max-width: 15rem !important;
}

// For putting the blog on the app

.blogapp .initial-content,
.search-content {
  padding-top: 0 !important; // To start right at the top
  padding-bottom: 6rem !important; // To let some space on for the menu footer app bar
}

// Dark mode classes

$darkColor: #fff5d0;

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark a {
  color: $darkColor !important;
}

body.theme-dark,
.theme-dark .masthead,
.theme-dark .page__meta {
  background-color: #0f1117;
  color: #d6d6d6;
}
.theme-dark .social-icons .fas,
.theme-dark .social-icons .fab,
.theme-dark .social-icons .far,
.theme-dark .social-icons .fal {
  color: #d6d6d6 !important;
}

.theme-dark .page__hero--overlay .page__meta {
  background-color: transparent !important;
}

.theme-dark #mainNav {
  background-color: #21252a !important;
  color: $darkColor;
}

.theme-dark .bg-light {
  background-color: #433664 !important;
  color: $darkColor;
}

.theme-dark #mainNav .navbar-toggler {
  color: $darkColor;
  border-color: $darkColor;
}

.masthead {
  background: linear-gradient(
      180deg,
      transparent 0,
      transparent 20%,
      rgba(0, 0, 0, 0.1) 30%,
      rgba(0, 0, 0, 0.8) 70%,
      #000
    ),
    url(../images/bg-zodiac.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

// Avatars
.avatar-group .avatar {
  margin-right: -20px; /* Adjust as needed */
  display: inline-block;
  border-color: #0f1117;
  border-width: 4px;
  border-radius: 50%;
  overflow: hidden;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #0f1117;
}

.avatar {
  width: 48px; /* Adjust as per your requirements */
  height: 48px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flipped {
  transform: scaleX(-1);
}

.theme-dark #apps .card-body {
  background-color: #000 !important;
}

.theme-dark #apps .card-footer {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.theme-dark #apps .card {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
